/* body */
/* bg part */
.css-ffhzg2{
    background : rgba(204, 164, 129, 0.949);
}

/* topmost color */
.css-1avcm0n{
    background-color: rgb(111, 92, 74);
}

/* heading */
.css-10trblm.eqr7zpz0{
    color: black;
    text-align: center;
    font-size: 52px;
    box-shadow: 2px;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 0.5%;
}

/* text with uploading brain scan file */
.css-q8sbsg.eqr7zpz4{
    color: rgb(117, 6, 6);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;

}

/* text to upload an image file */
.css-183lzff.e170wjxx0{
    color: rgb(117, 6, 6);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;

}

/* drag and drop bg */
.css-1erivf3.eqdbnj015{
    background : rgb(111, 92, 74)
}

/* image logo */
.css-1mdkfbq.eqdbnj03{
    color: black;
}

/* file name */
.uploadedFileName.css-1uixxvy.eqdbnj06{
    color:  rgb(123, 38, 38);
}

.css-1lp7pgu.e1ewe7hr7{
    color: black;
}


/* tumor name */
.css-nahz7x.eqr7zpz4{
    color: rgb(123, 38, 38);
    text-align: center;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.p{
    font-size: 30px;
}

.stMarkdown{
    font-size: 40px;
}




